openapi: 3.0.0
info:
  title: NeXFlowX Atlas Core API
  version: "1.0.0"
  description: API Oficial do Core Banking B2B2C (Gestão de Wallets, Clearing e Payouts).
servers:
  - url: https://core.nexflowx.tech/api/v1
    description: Servidor de Produção

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - BearerAuth: []

paths:
  /auth/login:
    post:
      summary: Login do Seller (Claim Account ou Acesso Normal)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname: { type: string, example: "NeXor_A1B2" }
                password: { type: string, example: "NeX-a1b2@2026" }
      responses:
        '200':
          description: Retorna Token JWT e Flag requiresPasswordChange

  /wallet/balances:
    get:
      summary: Retorna a "Fotografia" atual do Cofre do Utilizador
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId: { type: string }
                  wallets:
                    type: array
                    items:
                      type: object
                      properties:
                        currency: { type: string, example: "USDT" }
                        walletReference: { type: string }
                        balanceAvailable: { type: number, description: "Livre para Payout" }
                        balanceIncoming: { type: number, description: "Aguarda Clearing do Provedor" }
                        balancePending: { type: number, description: "Saques em processamento" }
                        balanceBlocked: { type: number, description: "Retido por Compliance/Chargeback" }

  /wallet/statement:
    get:
      summary: Histórico Agrupado (O "Log de Faturação Diário")
      description: Agrupa as milhares de entradas PROXY_INCOMING num único "Lote NEXOR" por dia.
      parameters:
        - in: query
          name: month
          schema: { type: integer, example: 5 }
        - in: query
          name: year
          schema: { type: integer, example: 2026 }
      responses:
        '200':
          description: Lista de Movimentos (Depósitos e Levamentos Diários)

  /payouts/crypto:
    post:
      summary: Pedido de Levantamento (Saque)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount: { type: number, example: 500 }
                currency: { type: string, example: "USDT" }
                targetAddress: { type: string, example: "0x7a...B2" }
                network: { type: string, example: "TRC20" }
      responses:
        '201':
          description: Transação submetida. Move fundos de Available para Pending.

  /tickets:
    get:
      summary: Consulta o estado dos Tickets de Suporte/Levantamento do Cliente
    post:
      summary: Cria um novo Ticket (Ex: Envio de Documentos KYC)
